@import '_foundations.scss';
* {
  box-sizing: border-box;
}
body, html {

  font-family: font-family();

  font-size: $basicFontSize;
  line-height: line-height();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  &.dark {
    background-color: color(black);
  }
  @media only screen and (max-width: breakpoint(tabletHD)) {

  height: auto;


  }
}

section {
  padding: spacing(2,16) spacing(2,20);
  &.--small {
    padding: spacing(2,8) spacing(2,20);
  }
  @media only screen and (max-width: breakpoint(tabletHD)) {

  padding: spacing(2,3) spacing(2,2);


  }

}
.page {
  transition: transition();
  min-height: 100vh;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:6em;
}

.Card {
  background-color: color(white, light);
  border-radius: spacing(2,4);

  display: inline-block;
  position: relative;
  border: 1px solid color(white, light);
  width: 480px;
  max-width: 100%;
  overflow: hidden;

  box-shadow:
   inset 0  (0 - spacing(2,3)) spacing(2,12) spacing(2,2) transparentize(color(violet),.85) ,
     0  (0 - spacing(2,3)) spacing(2,8) (0 - spacing(2,3)) transparentize(color(black),.85),
    0  spacing(2,2) spacing(2,5) spacing(2,2) transparentize(color(white),.5);

  .Card__Body {
    padding: spacing(2,5) spacing(2,3);
    font-size: font-size(s);
    line-height: line-height(s);
    min-height: 200px;
    .Loader {
      min-height: spacing(2,20);
      text-align: center;
      padding-top: spacing(2,4);
      & > span {
        left: -60px;
      }
    }
  }
  .Card__Header {
    padding: spacing(2,5) spacing(2,3);
    background-color: color(black);
    color: color(white);
    font-family: font-family(display);
    font-weight: 500;
    font-size: font-size();

  }
  .Card__Actions {
    padding: spacing(2,3) spacing(2,3);
    background-color: color(white);
    text-align: center;
  }

  @media only screen and (max-width: breakpoint(tabletHD)) {
    display: block;
    .Card__Header {
      text-align: center;
    }
  }
}


.App {
  color: color(black);
  background-color: color(white);
  background: linear-gradient(15deg, color(violet) 0%, color(blue,pale) 70%);
  transition: transition();
  box-shadow:  inset 0  (0 - spacing(2,3)) 50vw 0 transparentize(color(white),.6);
  position: absolute;
  top: 0;left: 0;
  width: 100vw;
  @media only screen and (max-width: breakpoint(tabletHD)) {

    height: auto;
    min-height: 100vh;


  }

  main {
    z-index: 50;
    position: relative;
  }

  a {
    transition: transition();
    transition-delay: .8s;
    color: color(black);
    text-decoration: underline;
  }

  &.App-dark {
    background-color: color(black);
    color: color(white);
    a {
      color: color(white);

    }


  }


}

@import 'globals/_headings.scss';
@import 'globals/_paragraphs.scss';
@import 'globals/_form_layout.scss';
@import 'globals/_levels.scss';
