@import '../../styles/_foundations.scss';
.GameSessions {
  padding-bottom: spacing(2,10);

  .GameSessions__List {
    padding: spacing(2,10) 0;
  }
  .GameSessions__Empty {
    
    span {
      opacity: .5;
    }
  }
}
