@import '../../styles/_foundations.scss';
.SectionHero {
  padding-top: spacing(2,15);

  @media only screen and (max-width: breakpoint(tabletHD)) {
    padding-top: spacing(2,20);
    section {
        .SectionHero__title {
          min-height: spacing(2, 10) !important;
          h1 {
            max-width: 100% !important;
            text-align: center;
            margin-bottom: spacing(2,2);
          }
          h2 {
            max-width: 100%;
            text-align: center;
          }
        }
      }
  }

  section {

    .SectionHero__title {
      display: inline-block;
      width: 100%;
      min-height: spacing(2, 20);
      position: relative;
      h1 {
        max-width: 80%;
        span {
          font-family: font-family(mono);
          font-style: italic;
        }
      }
      h2 {
        max-width: 90%;
        margin: 0;
      }
    }




  }
  &.--small {
    section {
      padding: spacing(2,8) spacing(2,20);
      .SectionHero__title {
        min-height: 0;
      }
    }
  }
  &.--smaller {
    padding-top: spacing(2,10);
    section {
      padding: spacing(2,6) spacing(2);
      .SectionHero__title {
        min-height: 0;
      }
    }
  }
  &.--center {
    section {

      .SectionHero__title {
        text-align: center;
        h1 {
          margin: 0 auto;
        }
      }
    }
  }
}
