@import '../_foundations.scss';
.leaderboard {
  background: linear-gradient(180deg, color(black) 0px, color(black) 100vh);
  transition: transition();
  color: color(white);
  &.leaderboard--freeze {
    background: linear-gradient(180deg, color(red) 0px, color(black) 100vh);
  }
  a {
    color: color(red);
  }
  .leaderboard__Layout {
    display: flex;
    min-height: 100vh;
    .leaderboard__Layout__Nav {
      width: spacing(2,50);

    }
    .leaderboard__Layout__Content {
      border-left: 2px solid color(white);
      padding-left: spacing(2,10);
      padding-bottom: spacing(2,10);
    }
  }
}
