@import '../../styles/_foundations.scss';
.Button {
  display: inline-block;
  overflow: hidden;

  margin-left: - spacing(1);

   .__container, a{
     display: inline-block;

     background-color: color(black);

     padding: 0 spacing(6);
     height: spacing(2, 10);
     line-height: spacing(2, 9.5);
     position: relative;
     font-size: font-size();

     border-radius: spacing(2,2);
     font-family: font-family(display);
     color: color(white);
     cursor: pointer;
     text-decoration: none;
     font-weight: 500;
     letter-spacing: 0.01em;
     transition: transition(slow);


     box-sizing: border-box;
     -webkit-user-select: none;  /* Chrome all / Safari all */
     -moz-user-select: none;     /* Firefox all */
     -ms-user-select: none;      /* IE 10+ */
     user-select: none;


     &:hover {
       opacity: 1 !important;
       background-color: color(violet);
       color: color(white);
     }
     &:active {
       opacity: 1 !important;
       background-color: color(violet);
       color: color(white);
     }
     span {
       position: relative;
       z-index: 10;

       &.option {

         opacity: .75;
         font-weight: normal;
         padding: 0 spacing(2) 0 0;

       }

     }

   }

   &.--inline {
     display: inline-block;
     margin-right: spacing(2,1.5);
   }
   &.--block {
     display: block;
     margin-bottom: spacing(2);
     .__container, a{
       display: block;
     }
   }
   &.--large {

     .__container, a{
       display: block;
       height: auto !important;
       line-height: 1.2em !important;
       padding: spacing(2,2) spacing(6) !important;
     }
   }
   &.--main {
     .__container, a{
       background-color: color(green);
       color: color(black);
     }
     &.--block {
       .__container, a{
         text-align: center;
       }
     }
   }
   &.--disabled {
     .__container, a{
       background-color: color(white);
       pointer-events: none;
       color: transparentize(color(black), .7);
     }
   }

   &.--inverted {

     .__container, a{
       background-color: color(white, light);
        border: 2px solid color(black);
       color: color(black);
       &:before {


       }
       &:hover {
         opacity: 1 !important;
         color: color(black);
         background-color: color(violet, pale);

          &:before {
            width: 100%;
          }

       }
     }
     &.--main {
       .__container, a{
         border: 2px solid color(green);
         color: color(green);
         &:before {
           content: '';
           background-color: color(green);
         }
         &:hover {
           opacity: 1 !important;
           color: color(black);

            &:before {
              width: 100%;
            }

         }
       }
     }

   }
   &.--active {
      .__container, a{
       background-color: color(yellow);
       border: 2px solid color(yellow);
       color: color(black);
       pointer-events: none;
     }
   }

   &.--small {
     border-radius: spacing(2,2);
      .__container, a{
       padding: 0 spacing(2,3);
       line-height: spacing(2, 8);
       height: spacing(2, 8);
       border-radius: spacing(2,2);
     }
   }

}
