@import '../../styles/_foundations.scss';
.Header {
  position: absolute;
  padding: spacing(2,12) spacing(2,20);
  @media only screen and (max-width: breakpoint(tabletHD)) {
    padding: spacing(2,4) spacing(2,4);
    top: -2px;
    .Header__logo {
      img {
        width: spacing(2, 9) !important;
      }
    }
  }
  z-index: 100;
  .Header__logo {
    img {
      width: spacing(2, 11);
    }
  }
  &.--home {
    .Header__logo {
      img {
        width: spacing(2, 20);
      }
    }
  }
  & + section {
    padding-top: spacing(2,30);
    @media only screen and (max-width: breakpoint(tabletHD)) {
      padding-top: spacing(2,20);
    }
  }
}
