@import '../_foundations.scss';
//Levels
.Level {
  position: relative;
  h2 {
    margin-top:0;
    padding-top:  spacing(2,2);
    text-align: left;
  }
  .Loader {
    min-height: spacing(2,15);
    text-align: center;
  }
  .Scores {
    padding:  spacing(2,2) 0 spacing(2,6);
    font-size: font-size(s);
    .ScoreNumber {
      display: inline-block;
      background-color: color(yellow);
      width: spacing(2,6);
      height: spacing(2,6);
      border-radius: spacing(2,3);
      font-family: font-family(display);
      font-size: font-size(s);
      text-align: center;
      line-height: spacing(2,6);
      font-weight: bold;

    }
  }
  .GameOver {
      padding:  spacing(2,6) 0 spacing(2,2);
      text-align: center;
      background-color: color(white);
      h3 {
        margin: 0;
        font-weight: bold;
      }
  }
  .Questionnaire {
    text-align: left;
    .Timer {
      position: absolute;
      top: 0 - spacing(2,2);
      right: 0;
      font-family: font-family(display);
      font-size: font-size(s);
    }
    .Question {
      padding: spacing(2,2) 0;

      .Question__Number {
        font-size: font-size(xs);
        font-family: font-family(display);
        background-color: color(violet, pale);
        display: inline-block;
        width: spacing(2,5);
        height: spacing(2,5);
        line-height: spacing(2,5);
        color: color(black);
        border-radius: spacing(2,3);
        text-align: center;
        position: relative;
        top: - spacing(1);
        margin-right: spacing(2);

      }
      .Question__Body {
        font-size: font-size(s);
        font-family: font-family(base);
        font-weight: 600;
        max-width: 80%;
      }
    }
    .Answer {
      padding: spacing(2,4) 0 0;

      .Counter {
        vertical-align: top;
        display: inline-block;
        padding: 0 spacing(2,3);

        height: spacing(2,10);
        background-color: color(violet, pale);
        line-height: spacing(2,10);
        font-family: font-family(display);
        border-radius: spacing(2,5);
        text-align: center;

      }
    }
  }
}
//Tablet
@media only screen and (max-width: breakpoint(tabletHD)) {
}
//Mobile
@media only screen and (max-width: breakpoint(mobileHD)) {
}
